#Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: abctechnologies
  labels:
    app: abctechnologies
spec:
  replicas: 3
  selector:
    matchLabels:
      app: abctechnologies
  template:
    metadata:
      labels:
        app: abctechnologies
    spec:
      containers:
      - name: abctechnologies
        image: abctechnologies:$BUILD_NUMBER
        ports:
        - containerPort: 8080