#Service Type nodePort
apiVersion: v1
kind: Service
metadata:
  name: abctechnologies
  labels:
    app: abctechnologies
spec:
  selector:
    app: abctechnologies

  type: NodePort
  ports:
  - nodePort: 31000
    port: 8080
    targetPort: 8080